html, body{
		margin: 0;
		padding: 0;
	}
	.page-wrapper{
		font-family: 'Open Sans', sans-serif;
			margin-bottom: 60px;
	}
	.nav-main{
		background: #000;
		border-radius: 0 !important;
		margin: 0;
	}

	ul.nav li a{
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
	}
	ul.nav li a:hover{
		background: none;
		color: #bbb;
	}
	.navbar-toggle .icon-bar{
		background: #fff;
	}

	section.aboutus{
		min-height: 100%;
		height: 720px;
		background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(../../res/img/img-about.jpg);
		background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../../res/img/img-about.jpg);
		background-size: cover;
	}
	.front-container .content{
		padding-top: 25%;
		text-align: center;
	}
	.front-container .content h1{
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 44px;
	}
	.content .down-arrow{
		text-align: center;
		font-size: 32px;
		color: #fff;
	}
	.start-button{
		background: #1abc9c;
		color: #fff;
		font-size: 20px;
		padding: 5px 10px;
		display: inline-block;
		border-radius: 2px;
	}

	section.features{
		height: 480px;
		min-height: 480px;
	}

	section.reach-new-customers{
		background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_reach_new_consumers-659fd01d1b0ea1c392078a547719b989.jpg) no-repeat center center;
		background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_reach_new_consumers-659fd01d1b0ea1c392078a547719b989.jpg) no-repeat center center;
		background-size: cover;
	}

	section.influence{
		background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_influence-1156efef97afc5c886e8d62b8373d77c.jpg) no-repeat center center;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_influence-1156efef97afc5c886e8d62b8373d77c.jpg) no-repeat center center;
		background-size: cover;
	}

	section.encourage{
		background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_encourage-712fd6d2fb0c6d014f2ee6bec12e1b13.jpg) no-repeat center center;
		background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_encourage-712fd6d2fb0c6d014f2ee6bec12e1b13.jpg) no-repeat center center;
		background-size: cover;
	}

	section.drive{
		background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_drive-f946b906de3ccf6a59598a6decf52b73.jpg) no-repeat center center;
		background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url(https://dgedexjhodw87.cloudfront.net/assets/landing/brands_drive-f946b906de3ccf6a59598a6decf52b73.jpg) no-repeat center center;
		background-size: cover;
	}

	section .content{
		padding: 20% 0 0 0;
		color: #fff;
		text-align: center;
	}

	section .content h1{
		text-transform: uppercase;
	}
	section .content p{
		font-size: 18px;
	}

	section.our-reach{
		height: 400px;
		min-height: 400px;
		text-align: center;
		padding: 20px 0;
	}

	.our-reach .head, .learn-more .head{
		color: #00a8b0;
		font-weight: 600;
		font-size: 40px;
		padding: 40px; 
		text-transform: uppercase;
		text-align: center;
	}

	.our-reach .circle{
		height: 240px;
		width: 240px;
		border-radius: 50%;
		background: #00a8b0;
		color: #fff;
		margin: auto;
	}
	.circle h2{
		font-size: 80px;
		padding-top: 40px;
		margin: 0;
	}
	.circle p{
		text-transform: uppercase;
		font-size: 22px;
	    padding: 0 20px;
	}

	section.learn-more{
	    padding: 20px 0 40px;
	}

	.learn-more .pm-mac img{
		width: 650px;	
	}
	.brands-list{
		padding-top: 40px;
	}
	.brands-list ul li{
		font-size: 16px;
		color: #666;
		margin-bottom: 30px;
	}

	section.brand-features{
		background: #00a8b0;
		color: #fff;
		text-align: center;
		padding: 40px;
	}
	.brand-features h3{
		margin: 10px 0;
		text-transform: uppercase;
	}

	@media only screen and (max-width : 768px) {
	}
